$modal__content--background-color: #fefefe;
/* The Modal (background) */
.modal {
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
	background-color: $modal__content--background-color;
	border-radius: 5px;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #050446;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.zoomIn {
	animation-name: zoomIn;
	animation-duration: 500ms;
	animation-timing-function: ease-in;
}

.zoomOut {
	animation-name: zoomOut;
	animation-duration: 500ms;
	animation-timing-function: ease-out;
}

@keyframes zoomIn {
	from {
		backgound-color: black;
		width: 0;
		height: 0;
		top: 50%;
		left: 50%;
	}

	to {
		backgound-color: $modal__content--background-color;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

@keyframes zoomOut {
	from {
		backgound-color: $modal__content--background-color;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	to {
		backgound-color: black;
		width: 0;
		height: 0;
		top: 50%;
		left: 50%;
	}
}
